target
*/target/**
*/target/*
*target\**
*target\*
*.class
*.log
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
*.lst
target/surefire-reports/julius.sky.voicehud.AppTest.txt
target/surefire-reports/TEST-julius.sky.voicehud.AppTest.xml
*.jar
target/surefire-reports/julius.sky.voicehud.AppTest.txt
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/julius/sky/voicehud/core/hud/MyStartScreen.class
target/classes/julius/sky/voicehud/App.class

target/classes/julius/sky/voicehud/App.class

target/classes/julius/sky/voicehud/App.class

*.class

target/classes/julius/sky/voicehud/core/hud/HUDGUI.class

target/classes/julius/sky/voicehud/core/hud/HUDGUI.class
